<style>
  .des {
    margin-top: 1rem;
  }
</style>
<!-- prettier-ignore -->
{% extends 'layout.html' %} 
{% block content %} 
{% if user.staff or user.admin %}
<div>
  <h1>Uruskan Bilik Mesyuarat</h1>
  <p class="des">
    Kemaskini bilik mesyuarat samada untuk tambah bilik, lihat dan papar tambah bilik
  </p>
  <div class="btn-wrapper">
    <a class="btn btn-lg btn-primary" href="{% url 'add-rooms' %}">Tambah Bilik</a>
    <a class="btn btn-lg btn-secondary ml-md" href="{% url 'bookings' %}"
      >Lihat Tempahan </a
    >
    <div class="btn-second-row">
      <a class="btn btn-lg btn-tertiary" href="{% url 'view-rooms' %}"
        >Lihat Bilik</a
      >
    </div>
  </div>
</div>
{% else %}
<h2>Access Denied!</h2>
{% endif %} {% endblock content %}
