{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Are you sure you are sorry {%  endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>

    <div class="nav-left">
        <a href="{% url 'index_kuiz' %}">Quiz</a>
    </div>

    <div class="nav-right">
        {% if user.is_authenticated %}

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button method="submit" >Logout</button>
        </form>

        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
	{% block content %}
     {% if message  %}
     <ul class="messages">
      {% for message in messages %}
      <li>
      {% if message.tags %} class="{{message.tags}}"{% endif %} > { {message }}
      </li>
        
      {% endfor %}
     </ul>
       
     {% endif %} 
    {% endblock content %}
  </body>
</html>