{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %} Kuiz Tajma consulting {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header class="site-header">
      <nav class="nav-container">
        <div class="nav-left">
          <a href="{% url 'profilpersonaliti:index_quiz' %}">UNIT PSIKOLOGI & KAUNSELING</a>
        </div>


      </nav>
    </header>

    <main class="content-container">
      {% block content %}{% endblock content %}
    </main>

    <footer class="site-footer">
      <div class="footer-container">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li class="{% if message.tags %} {{ message.tags }}{% endif %}">
            {{ message }}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </footer>
  </body>
</html>