{% extends 'base.html' %}

{% load static %}

{% block content %}
  
<link rel="stylesheet" href="{% static 'utama/check_availability.css' %}">


<body class="container availlability mt-5">
   <form method="get" action="{% url 'check_availability' %}" class="mb-4">

    {% csrf_token %}
    {{ form.as_p }}

    
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <label for="year" class="mr-2">Pilihan Tahun</label><br>
    <select name="year" id="year" class="form-select mr-2" style="max-width : 150px">
        <option value="PPKI" {% if selected_year == 'PPKI' %}selected{% endif %}>PPKI</option>
        <option value="TAHUN1" {% if selected_year == 'TAHUN1' %}selected{% endif %}>Tahun 1</option>
        <option value="TAHUN2" {% if selected_year == 'TAHUN2' %}selected{% endif %}>Tahun 2</option>
        <option value="TAHUN3" {% if selected_year == 'TAHUN3' %}selected{% endif %}>Tahun 3</option>
        <option value="TAHUN4" {% if selected_year == 'TAHUN4' %}selected{% endif %}>Tahun 4</option>
        <option value="TAHUN5" {% if selected_year == 'TAHUN5' %}selected{% endif %}>Tahun 5</option>
        <option value="TAHUN6" {% if selected_year == 'TAHUN6' %}selected{% endif %}>Tahun 6</option>
    </select><br>



    <button type="submit" class="btn btn-primary col-span-full ">Papar</button>
</div>
   </form>
   
   <ul id="results" class="list-group">
    {% for classroom in classrooms %}
    <li class="list-group-item">
        {{ classroom.school}} - 
        {% if classroom.average < 39 %}
            <span class="badge bg-success">MASIH MEMPUNYAI KEKOSONGAN</span>
               <img src="{% static 'flashinggreen.gif' %}" alt="Traffic Light" width="60">        
        {% else %}
            <span class="badge bg-danger">PENUH</span>
            <img src="{% static 'flickering_red.gif' %}" alt="Traffic Light" width="60">
        {% endif %}
    </li>
    {% endfor %}
   </ul>



</body>
{% endblock content %}
</html>
