{% extends "base_quiz.html" %}

{% block content %}
<div class="parent-div">
  <div class="centered-div">
    <h3 class="title">{{ quiz.title }}</h3>

    <!-- Display error messages -->
    {% if messages %}
      <div class="error-messages">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <form method="POST" id="quizform" action="{% if questions.has_next %}?page={{ questions.next_page_number }}{% else %}{% url 'quiz_submit' quiz.id %}{% endif %}">
      {% csrf_token %}

      {% for question in questions %}
      <div class="question-block">
        <h4>{{ offset|add:forloop.counter }}. {{ question.text }}</h4>

        <div class="choices">
          {% for choice in question.choices.all %}
          <div class="choice">
            <!-- Radio button named after question_id -->
            <input type="radio" id="choice_{{ choice.id }}" name="question_{{ question.id }}" value="{{ choice.id }}" />
            <label for="choice_{{ choice.id }}">{{ choice.text }}</label>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}

      <!-- If it's not the last page, show the "Next" button -->
      {% if questions.has_next %}
      <div class="pagination">
        <button type="submit" class="submit-button">Next</button>
      </div>
      {% else %}
      <!-- On the last page, show the "Submit Quiz" button -->
      <div class="pagination">
        <button type="submit" class="submit-button">Submit Quiz</button>
      </div>
      {% endif %}
    </form>

    <div class="pagination">
      <span class="step-links">
        {% if questions.has_previous %}
        <a href="?page={{ questions.previous_page_number }}">Kembali</a>
        {% endif %}

        <span class="current">
          Page {{ questions.number }} dari {{ questions.paginator.num_pages }}
        </span>

        {% if questions.has_next %}
        <a href="?page={{ questions.next_page_number }}">Seterusnya</a>
        {% endif %}
      </span>
    </div>
  </div>
</div>
{% endblock content %}
