<!-- templates/student_color.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
  
<form method = "post" action="{% url 'student_color' %}" id="my-form"> 
    {% csrf_token %}
    {{ form.name.label_tag }} {{ form.name}}
    {{form.no_tel.label_tag }} {{ form.no_tel }}
    {{ form.no_ic.label_tag }} {{  form.no_ic }}
    {{ form.email.label_tag }} {{ form.email }}
    {{ form.tahun.label_tag }} {{ form.tahun }}
    {{ form.list_sek.label_tag }} {{ form.list_sek }}
   <button type="submit">Hantar</button> 
</form>

{% if color %}

<div id="result-container" style="color: {{ color }};">
    {{ message }}
    <br>
    Sekolah: {{ sekolah }}
    <br>
    Tahun: {{ tahun }}
    <br>
    Jumlah Kelas: {{ jum_kelas }}
    <br>
    Jumlah Murid: {{ jum_murid }}
    <br>
    Purata: <span id="purata">{{ purata }}</span>
</div>

 {% endif %}
{% endblock %}