<!-- templates/student_color.html -->
{% extends "base.html" %}
{% load static %}

<form method = "post" action="{% url 'student_color' %}" hx-post="true" hx-swap="outerHTML" id="my-form"> 
    {% csrf_token %}
    {{ form.as_p }}

   <button type="submit">Hantar</button> 
</form>

{% if color %}

<div style="color: {{color}};">
    {{ message }}
    <br>
    Sekolah: {{ sekolah }}
    <br>
    Tahun: {{ tahun }}
    <br>
    Jumlah Kelas: {{ jum_kelas }}
    <br>
    Jumlah Murid: {{ jum_murid }}
    <br>
    Catatan: {{ catatan }}
    <br>
    Purata: <span id="purata" hx-get="{% url 'calculate_average' %}?average={{ purata }}">{{ purata }}</span>
</div>

 {% endif %}


<script>

    var sekolahSelect = document.getElementById('id_sekolah');
    var tahunSelect = document.getElementById('id_tahun');

    [sekolahSelect, tahunSelect].forEach(function(select) {
        select.addEventListener('change', function() {
            // Memicu permintaan AJAX menggunakan HTMX
            htmx.ajax('{% url 'student_color' %}', 'post', new FormData(document.getElementById('my-form')));
        });
    });

</script>

<script src="{% static 'htmx.js' %}"></script>