<!-- myapp/templates/success_page.html -->
{% extends 'base.html' %}


{% block content %}
    <title>Success Page</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
        }

        h1 {
            color: #3498db;
        }
    </style>
    
<body>
    <h1>Import Data Berjaya !</h1>
    <!-- Your success message or any content you want to display -->
</body>
{% endblock content %}
    
    

