/* static/css/styles.css */

/* Add your custom styles for the check availability page */
.availlability {
    max-width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mb-3 {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Customize form field styles */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Responsive styles for small screens */
@media (max-width: 767px) {
    form {
        padding: 15px;
    }
}
